---
import { getCollection } from "astro:content";
import "@fontsource-variable/roboto-slab";

import Post from "../components/Post.astro";
import Link from "../components/Link.astro";

const title = "The Sceptical Trader";
const description =
  "Documenting Mihail Marian's journey into algorithmic trading. I'll be analysing the world of financial markets and quantitative investing with a healthy dose of scepticism.";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = "/meta.webp";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- Analytics -->
    <!-- {
      import.meta.env.PROD && (
        <script
          is:inline
          defer
          src="https://um.app.taralys.com/hi"
          data-website-id="46137bcf-56c8-4c56-a6a1-e13a8af5255d"
        />
      )
    } -->
  </head>
  <body
    class="max-w-3xl mx-auto min-h-screen px-6 py-10 sm:px-8 bg-gray-100 font-roboto tracking-wide"
  >
    <main>
      <h1
        class="font-medium text-3xl md:text-5xl xtracking-tighter mb-10 overflow-hidden"
      >
        The Sceptical Trader
      </h1>
      <section class="mb-10">
        Hi! I'm Mihail and I'm documenting my journey into quant trading. Wanna
        talk? Reach out to me <Link
          url="https://linkedin.com/in/mihailmarian"
          newTab>on LinkedIn</Link
        >.
      </section>
      <section>
        <ul>
          {posts.map((post) => <Post post={post} />)}
        </ul>
      </section>
    </main>
  </body>
</html>
