---
import "@fontsource-variable/roboto-slab";
import { SITE_SOCIAL_IMAGE, SITE_TITLE } from "../consts";

import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImage = new URL(SITE_SOCIAL_IMAGE, Astro.url);

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:site_name" content={SITE_TITLE} />
<meta property="og:image" content={socialImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImage} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Analytics -->
{
  import.meta.env.PROD && (
    <script
      defer
      src="https://um.app.taralys.com/hi"
      data-website-id="559ab5c2-a86d-4c96-96f2-cc84cb74c3ed"
    />
  )
}
